# Combine datasets
Author: P.C.O. Maseland <br>
Date: 03 December 2021<br>

This ipynb file contains script which combine the accelerometer, gyroscope and magnetometer data. All files the magnitude is calculated and all other features are removed. Further, the NaN values are exploited and removed.

In [4]:
#Import packages/libraries
import pandas as pd
import numpy as np

### Load csv files

In [5]:
df_acc = pd.read_csv("tempfile_acc.csv")
df_gyr = pd.read_csv("tempfile_gyr.csv")
df_mag = pd.read_csv("tempfile_mag.csv")

In [7]:
#print shape
print(df_acc.shape)
print(df_gyr.shape)
print(df_mag.shape)

(3227007, 41)
(3226016, 41)
(3234319, 41)

In [8]:
df_acc.head()

,Unnamed: 0,Unnamed: 0.1,id,attr_time_x,attr_x_chest,attr_y_chest,attr_z_chest,Subject ID,Sensor-type,Activity,...,attr_time_y.2,attr_x_upperarm,attr_y_upperarm,attr_z_upperarm,magnitude_upperarm,attr_time,attr_x_waist,attr_y_waist,attr_z_waist,magnitude_waist
0,0,0,1,1436802576021,0.352546,9.455899,-2.029086,10,acc,climbingdown,...,1436802576488,-1.532888,10.072407,0.073023,10.188644,1.436803e+12,9.867703,-0.588375,1.089362,9.945071
1,1,1,2,1436802576042,0.370503,9.336189,-1.991377,10,acc,climbingdown,...,1436802576489,-1.501763,10.094553,-0.014964,10.205661,1.436803e+12,9.848549,-0.494403,1.019930,9.913557
2,2,2,3,1436802576061,0.452504,9.351752,-1.887828,10,acc,climbingdown,...,1436802576490,-1.548450,10.080188,0.014964,10.198437,1.436803e+12,9.898229,-0.422577,1.083376,9.966304
3,3,3,4,1436802576083,0.445920,9.403826,-1.862090,10,acc,climbingdown,...,1436802576491,-1.515530,10.077195,0.040103,10.190598,1.436803e+12,9.928755,-0.476446,1.173159,10.009170
4,4,4,5,1436802576102,0.329801,9.434352,-1.851317,10,acc,climbingdown,...,1436802576492,-1.476025,10.089765,0.043096,10.197248,1.436803e+12,9.859921,-0.543484,1.056442,9.931238

In [9]:
#Drop unneccesary columns
df_acc = df_acc.drop(columns=['Unnamed: 0',
                     'Unnamed: 0.1',
                     'attr_time',
                     'attr_time_x',
                     'attr_time_y',
                     'attr_time_x.1',
                     'attr_time_y.1',
                     'attr_time_x.2',
                     'attr_time_y.2'])

In [10]:
df_gyr.head()

,Unnamed: 0,Unnamed: 0.1,id,attr_time_x,attr_x_chest,attr_y_chest,attr_z_chest,Subject ID,Sensor-type,Activity,...,attr_time_y.2,attr_x_upperarm,attr_y_upperarm,attr_z_upperarm,magnitude_upperarm,attr_time,attr_x_waist,attr_y_waist,attr_z_waist,magnitude_waist
0,0,0,1,1436802576021,0.010996,0.059865,-0.007941,10,Gyroscope,climbingdown,...,1436802576476,-0.008552,0.092546,-0.012217,0.093740,1.436803e+12,0.036825,-0.000916,-0.012124,0.038780
1,1,1,2,1436802576042,0.033292,0.042150,-0.007330,10,Gyroscope,climbingdown,...,1436802576477,-0.003054,0.097433,0.004581,0.097588,1.436803e+12,0.038657,-0.007330,-0.009375,0.040448
2,2,2,3,1436802576061,0.033292,0.041539,-0.009163,10,Gyroscope,climbingdown,...,1436802576478,-0.000916,0.079412,0.010079,0.080055,1.436803e+12,0.031938,0.011912,0.006507,0.034702
3,3,3,4,1436802576082,0.033598,0.064141,-0.011301,10,Gyroscope,climbingdown,...,1436802576479,-0.001222,0.054062,0.005192,0.054324,1.436803e+12,0.012390,0.018631,0.012921,0.025838
4,4,4,5,1436802576101,0.026573,0.066584,-0.005192,10,Gyroscope,climbingdown,...,1436802576480,-0.010690,0.018021,0.010385,0.023385,1.436803e+12,0.007198,0.006109,0.012921,0.016002

In [11]:
df_gyr = df_gyr.drop(columns=['Unnamed: 0',
                     'Unnamed: 0.1',
                     'attr_time',
                     'attr_time_x',
                     'attr_time_y',
                     'attr_time_x.1',
                     'attr_time_y.1',
                     'attr_time_x.2',
                     'attr_time_y.2'])

In [12]:
df_mag.head()

,Unnamed: 0,Unnamed: 0.1,id,attr_time_x,attr_x_chest,attr_y_chest,attr_z_chest,Subject ID,Sensor-type,Activity,...,attr_time_y.2,attr_x_upperarm,attr_y_upperarm,attr_z_upperarm,magnitude_upperarm,attr_time,attr_x_waist,attr_y_waist,attr_z_waist,magnitude_waist
0,0,0,1,1436802576021,7.629,-45.715,21.835,10,MagneticField,climbingdown,...,1436802576493,-6.036,-46.469,7.415,47.442423,1.436803e+12,-53.396,-3.825,9.114,54.303116
1,1,1,2,1436802576043,7.629,-45.715,21.528,10,MagneticField,climbingdown,...,1436802576494,-6.036,-46.469,7.415,47.442423,1.436803e+12,-53.396,-3.825,9.114,54.303116
2,2,2,3,1436802576062,7.629,-45.715,21.528,10,MagneticField,climbingdown,...,1436802576495,-6.036,-46.469,7.415,47.442423,1.436803e+12,-53.396,-3.825,9.114,54.303116
3,3,3,4,1436802576083,7.629,-45.715,21.528,10,MagneticField,climbingdown,...,1436802576496,-6.036,-46.469,7.415,47.442423,1.436803e+12,-53.396,-3.825,9.114,54.303116
4,4,4,5,1436802576102,7.629,-45.715,21.528,10,MagneticField,climbingdown,...,1436802576497,-6.036,-46.469,7.415,47.442423,1.436803e+12,-53.396,-3.825,9.114,54.303116

In [13]:
df_mag = df_mag.drop(columns=['Unnamed: 0',
                     'Unnamed: 0.1',
                     'attr_time',
                     'attr_time_x',
                     'attr_time_y',
                     'attr_time_x.1',
                     'attr_time_y.1',
                     'attr_time_x.2',
                     'attr_time_y.2'])

In [14]:
print(df_acc['Activity'].unique())
print(df_gyr['Activity'].unique())
print(df_mag['Activity'].unique())

['climbingdown' 'climbingup' 'jumping' 'lying' 'running' 'sitting'
 'standing' 'walking']
['climbingdown' 'climbingup' 'jumping' 'lying' 'running' 'sitting'
 'standing' 'walking']
['climbingdown' 'climbingup' 'jumping' 'lying' 'running' 'sitting'
 'standing' 'walking']

#### Detect NaN Values

In [15]:
#check NAN values
df_acc.isna().sum()

id                        0
attr_x_chest              0
attr_y_chest              0
attr_z_chest              0
Subject ID                0
Sensor-type               0
Activity                  0
magnitude_chest           0
attr_x_forearm        25150
attr_y_forearm        25150
attr_z_forearm        25150
magnitude_forearm     25150
attr_x_head               0
attr_y_head               0
attr_z_head               0
magnitude_head            0
attr_x_shin               0
attr_y_shin               0
attr_z_shin               0
magnitude_shin            0
attr_x_thigh           4723
attr_y_thigh           4723
attr_z_thigh           4723
magnitude_thigh        4723
attr_x_upperarm           0
attr_y_upperarm           0
attr_z_upperarm           0
magnitude_upperarm        0
attr_x_waist              0
attr_y_waist              0
attr_z_waist              0
magnitude_waist           0
dtype: int64

In [23]:
df_acc[df_acc['magnitude_thigh'].isnull()]

,id,attr_x_chest,attr_y_chest,attr_z_chest,Subject ID,Sensor-type,Activity,magnitude_chest,attr_x_forearm,attr_y_forearm,...,attr_z_thigh,magnitude_thigh,attr_x_upperarm,attr_y_upperarm,attr_z_upperarm,magnitude_upperarm,attr_x_waist,attr_y_waist,attr_z_waist,magnitude_waist
2402437,1,0.481833,9.746197,0.018555,6,acc,jumping,9.758118,-9.40179,-2.69197,...,NaN,NaN,0.432153,10.072407,0.877475,10.119788,19.481020,0.815226,7.390302,20.851650
2402438,2,0.342969,9.589975,-0.027533,6,acc,jumping,9.596145,-9.42334,-2.70581,...,NaN,NaN,0.419584,10.125677,0.863708,10.171105,19.607914,-3.089717,6.016030,20.741487
2402439,3,0.316035,9.572019,0.052672,6,acc,jumping,9.577380,-9.38690,-2.62543,...,NaN,NaN,0.417788,10.119094,0.820613,10.160906,19.607914,-3.811569,2.885611,20.182297
2402440,4,0.406416,9.782708,0.172981,6,acc,jumping,9.792674,-9.38745,-2.62706,...,NaN,NaN,0.447117,10.129868,0.799663,10.171214,19.607914,-0.860715,0.746991,19.641006
2402441,5,0.422577,9.897031,0.170587,6,acc,jumping,9.907517,-9.46565,-2.65184,...,NaN,NaN,0.503381,10.129269,0.858920,10.178076,14.954184,0.992397,0.586579,14.998551
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2407155,4719,6.982090,4.433463,-4.517858,6,acc,jumping,9.424236,-9.64491,-4.02252,...,NaN,NaN,-0.569820,9.722255,1.975815,9.937343,9.612122,0.058059,2.427122,9.913989
2407156,4720,7.168240,4.404733,-5.525817,6,acc,jumping,10.065783,-9.54945,-4.17824,...,NaN,NaN,-0.687136,9.813833,2.014721,10.042040,9.703699,-0.056264,2.344522,9.983072
2407157,4721,7.165846,4.342484,-4.818331,6,acc,jumping,9.665548,-9.53955,-3.96443,...,NaN,NaN,-0.787094,9.709086,1.968034,9.937758,9.730036,-0.059256,2.121263,9.958758
2407158,4722,7.691971,4.867412,-4.375403,6,acc,jumping,10.099618,-9.83311,-3.37036,...,NaN,NaN,-0.781108,9.872491,2.026692,10.108595,9.614515,-0.117316,2.331354,9.893830
2407159,4723,7.755418,4.765658,-4.765658,6,acc,jumping,10.274702,-9.83891,-2.79585,...,NaN,NaN,-0.816423,10.132261,1.853112,10.332632,9.779716,-0.042497,2.427122,10.076486

In [21]:
test['magnitude_forearm'].unique

<bound method Series.unique of 44641       9.864219
44642       9.855573
44643       9.923961
44644       9.883343
44645       9.850894
             ...
3059583    10.874531
3059584     9.769704
3059585    10.432236
3059586    12.173776
3059587    13.734503
Name: magnitude_forearm, Length: 73004, dtype: float64>

In [77]:
#check NAN values
df_gyr.isna().sum()

id                        0
attr_x_chest              0
attr_y_chest              0
attr_z_chest              0
Subject ID                0
Sensor-type               0
Activity                  0
magnitude_chest           0
attr_x_forearm        25149
attr_y_forearm        25149
attr_z_forearm        25149
magnitude_forearm     25149
attr_x_head               0
attr_y_head               0
attr_z_head               0
magnitude_head            0
attr_x_shin               0
attr_y_shin               0
attr_z_shin               0
magnitude_shin            0
attr_x_thigh           4719
attr_y_thigh           4719
attr_z_thigh           4719
magnitude_thigh        4719
attr_x_upperarm           0
attr_y_upperarm           0
attr_z_upperarm           0
magnitude_upperarm        0
attr_x_waist              0
attr_y_waist              0
attr_z_waist              0
magnitude_waist           0
dtype: int64

In [78]:
#check NAN values
df_mag.isna().sum()

id                        0
attr_x_chest              0
attr_y_chest              0
attr_z_chest              0
Subject ID                0
Sensor-type               0
Activity                  0
magnitude_chest           0
attr_x_forearm        25149
attr_y_forearm        25149
attr_z_forearm        25149
magnitude_forearm     25149
attr_x_head               0
attr_y_head               0
attr_z_head               0
magnitude_head            0
attr_x_shin               0
attr_y_shin               0
attr_z_shin               0
magnitude_shin            0
attr_x_thigh           4744
attr_y_thigh           4744
attr_z_thigh           4744
magnitude_thigh        4744
attr_x_upperarm           0
attr_y_upperarm           0
attr_z_upperarm           0
magnitude_upperarm        0
attr_x_waist              0
attr_y_waist              0
attr_z_waist              0
magnitude_waist           0
dtype: int64

In [79]:
#drop these columns
df_acc = df_acc.dropna()
df_gyr = df_gyr.dropna()
df_mag = df_mag.dropna()

In [80]:
#print shape
print(df_acc.shape)
print(df_gyr.shape)
print(df_mag.shape)

(3197134, 32)
(3196148, 32)
(3204426, 32)

#### Look how (im)balanced the labels are
It is visible that activity 2 (jumping) has much less labels). It could be considered to leave those out.

In [27]:
#check imbalance
y_acc = df_acc['Activity']
y_gyr = df_gyr['Activity']
y_mag = df_mag['Activity']

In [28]:
from collections import Counter

#see how balanced the dataset is
print(Counter(y_acc))
print(Counter(y_gyr))
print(Counter(y_mag))

Counter({'running': 522013, 'walking': 482938, 'lying': 479423, 'sitting': 478761, 'standing': 473147, 'climbingup': 397570, 'climbingdown': 320151, 'jumping': 73004})
Counter({'running': 516413, 'walking': 485742, 'lying': 481750, 'sitting': 481252, 'standing': 475641, 'climbingup': 390477, 'climbingdown': 321433, 'jumping': 73308})
Counter({'running': 525241, 'walking': 485767, 'lying': 481755, 'sitting': 481252, 'standing': 475642, 'climbingup': 389468, 'climbingdown': 321857, 'jumping': 73337})

### Only maintain Magnitude columns

In [29]:
df_acc = df_acc.drop(columns=['attr_x_forearm',
       'attr_y_forearm', 'attr_z_forearm', 'attr_x_head', 'attr_y_head',
       'attr_z_head', 'attr_x_shin', 'attr_y_shin', 'attr_z_shin',
       'attr_x_thigh', 'attr_y_thigh', 'attr_z_thigh', 'attr_x_upperarm',
       'attr_y_upperarm', 'attr_z_upperarm', 'attr_x_waist', 'attr_y_waist',
       'attr_z_waist', 'Sensor-type', 'attr_x_chest', 'attr_y_chest', 'attr_z_chest'])

In [30]:
df_gyr = df_gyr.drop(columns=['attr_x_forearm',
       'attr_y_forearm', 'attr_z_forearm', 'attr_x_head', 'attr_y_head',
       'attr_z_head', 'attr_x_shin', 'attr_y_shin', 'attr_z_shin',
       'attr_x_thigh', 'attr_y_thigh', 'attr_z_thigh', 'attr_x_upperarm',
       'attr_y_upperarm', 'attr_z_upperarm', 'attr_x_waist', 'attr_y_waist',
       'attr_z_waist', 'Sensor-type', 'attr_x_chest', 'attr_y_chest', 'attr_z_chest'])

In [31]:
df_mag = df_mag.drop(columns=['attr_x_forearm',
       'attr_y_forearm', 'attr_z_forearm', 'attr_x_head', 'attr_y_head',
       'attr_z_head', 'attr_x_shin', 'attr_y_shin', 'attr_z_shin',
       'attr_x_thigh', 'attr_y_thigh', 'attr_z_thigh', 'attr_x_upperarm',
       'attr_y_upperarm', 'attr_z_upperarm', 'attr_x_waist', 'attr_y_waist',
       'attr_z_waist', 'Sensor-type', 'attr_x_chest', 'attr_y_chest', 'attr_z_chest'])

In [32]:
#print shape
print(df_acc.shape)
print(df_gyr.shape)
print(df_mag.shape)

(3227007, 10)
(3226016, 10)
(3234319, 10)

In [33]:
df_acc.columns

Index(['id', 'Subject ID', 'Activity', 'magnitude_chest', 'magnitude_forearm',
       'magnitude_head', 'magnitude_shin', 'magnitude_thigh',
       'magnitude_upperarm', 'magnitude_waist'],
      dtype='object')

In [34]:
#create index to merge on
df_acc = df_acc.reset_index()
df_gyr = df_gyr.reset_index()
df_mag = df_mag.reset_index()

In [35]:
# Add suffixes to dataframes
df_acc = df_acc.add_suffix('_acc')
df_gyr = df_gyr.add_suffix('_gyr')
df_mag = df_mag.add_suffix('_mag')

### Merge acc, gyr and mag csv files

In [36]:
final_set = df_acc
final_set.shape

(3227007, 11)

In [37]:
final_set = final_set.merge(df_gyr, how='inner', 
                            left_on=["id_acc", "Subject ID_acc", "Activity_acc"], 
                            right_on=["id_gyr", "Subject ID_gyr", "Activity_gyr"])
print('Merge Acc + Gyr: ' + str(final_set.shape))
final_set

Merge Acc + Gyr: (3210053, 22)

,index_acc,id_acc,Subject ID_acc,Activity_acc,magnitude_chest_acc,magnitude_forearm_acc,magnitude_head_acc,magnitude_shin_acc,magnitude_thigh_acc,magnitude_upperarm_acc,...,id_gyr,Subject ID_gyr,Activity_gyr,magnitude_chest_gyr,magnitude_forearm_gyr,magnitude_head_gyr,magnitude_shin_gyr,magnitude_thigh_gyr,magnitude_upperarm_gyr,magnitude_waist_gyr
0,0,1,10,climbingdown,9.677577,9.851141,9.808246,10.060116,9.608746,10.188644,...,1,10,climbingdown,0.061382,0.013997,0.215952,0.026939,0.072035,0.093740,0.038780
1,1,2,10,climbingdown,9.553391,9.864483,9.771217,10.050983,9.600218,10.205661,...,2,10,climbingdown,0.054210,0.021515,0.228918,0.030239,0.071261,0.097588,0.040448
2,2,3,10,climbingdown,9.551121,9.864997,9.795905,10.057417,9.553888,10.198437,...,3,10,climbingdown,0.054017,0.014751,0.256492,0.027504,0.067857,0.080055,0.034702
3,3,4,10,climbingdown,9.596779,9.878026,9.762490,10.057711,9.562705,10.190598,...,4,10,climbingdown,0.073284,0.007729,0.269480,0.026777,0.079224,0.054324,0.025838
4,4,5,10,climbingdown,9.619934,9.851603,9.821960,10.067420,9.604711,10.197248,...,5,10,climbingdown,0.071879,0.012166,0.265936,0.028241,0.084029,0.023385,0.016002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210048,3227002,31200,9,walking,9.774183,9.871662,9.566733,10.097173,9.633903,10.194136,...,31200,9,walking,0.241477,0.746309,1.241277,0.033778,0.099147,0.075249,0.074925
3210049,3227003,31201,9,walking,9.811975,9.886251,9.611713,10.119444,9.595972,10.167118,...,31201,9,walking,0.257558,0.626601,1.369875,0.028631,0.105654,0.077732,0.077736
3210050,3227004,31202,9,walking,9.747650,9.867832,9.662685,10.149017,9.559441,10.132134,...,31202,9,walking,0.246229,0.686827,1.435232,0.030252,0.108980,0.081807,0.078874
3210051,3227005,31203,9,walking,9.645993,9.891701,9.763494,10.118912,9.615271,10.079951,...,31203,9,walking,0.223982,0.758588,1.435350,0.021902,0.084564,0.080951,0.087868
3210052,3227006,31204,9,walking,9.631109,9.914959,9.805301,10.135360,9.586858,10.047024,...,31204,9,walking,0.187218,0.842125,1.389708,0.021552,0.090903,0.075940,0.102903

In [38]:
final_set = final_set.merge(df_mag, how='inner', 
                            left_on=["id_acc", "Subject ID_acc", "Activity_acc"], 
                            right_on=["id_mag", "Subject ID_mag", "Activity_mag"])
print('Merge Acc + Gyr + Mag: ' + str(final_set.shape))
final_set

Merge Acc + Gyr + Mag: (3208935, 33)

,index_acc,id_acc,Subject ID_acc,Activity_acc,magnitude_chest_acc,magnitude_forearm_acc,magnitude_head_acc,magnitude_shin_acc,magnitude_thigh_acc,magnitude_upperarm_acc,...,id_mag,Subject ID_mag,Activity_mag,magnitude_chest_mag,magnitude_forearm_mag,magnitude_head_mag,magnitude_shin_mag,magnitude_thigh_mag,magnitude_upperarm_mag,magnitude_waist_mag
0,0,1,10,climbingdown,9.677577,9.851141,9.808246,10.060116,9.608746,10.188644,...,1,10,climbingdown,51.233096,46.140829,49.391103,38.611780,43.591538,47.442423,54.303116
1,1,2,10,climbingdown,9.553391,9.864483,9.771217,10.050983,9.600218,10.205661,...,2,10,climbingdown,51.103010,46.381310,49.305273,38.611780,43.591538,47.442423,54.303116
2,2,3,10,climbingdown,9.551121,9.864997,9.795905,10.057417,9.553888,10.198437,...,3,10,climbingdown,51.103010,46.381310,49.345280,38.611780,43.591538,47.442423,54.303116
3,3,4,10,climbingdown,9.596779,9.878026,9.762490,10.057711,9.562705,10.190598,...,4,10,climbingdown,51.103010,46.140690,49.345280,38.611780,43.591538,47.442423,54.303116
4,4,5,10,climbingdown,9.619934,9.851603,9.821960,10.067420,9.604711,10.197248,...,5,10,climbingdown,51.103010,45.682645,49.345280,38.611780,43.591538,47.442423,54.303116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3208930,3227002,31200,9,walking,9.774183,9.871662,9.566733,10.097173,9.633903,10.194136,...,31200,9,walking,42.764637,47.996791,48.228693,42.652871,45.204278,15.671016,51.610431
3208931,3227003,31201,9,walking,9.811975,9.886251,9.611713,10.119444,9.595972,10.167118,...,31201,9,walking,42.764637,47.594188,48.057119,42.652871,45.204278,15.671016,51.610431
3208932,3227004,31202,9,walking,9.747650,9.867832,9.662685,10.149017,9.559441,10.132134,...,31202,9,walking,42.764637,49.162588,48.271004,42.652871,45.204278,15.671016,51.610431
3208933,3227005,31203,9,walking,9.645993,9.891701,9.763494,10.118912,9.615271,10.079951,...,31203,9,walking,42.764637,49.162588,48.411380,42.652871,45.204278,15.671016,51.610431
3208934,3227006,31204,9,walking,9.631109,9.914959,9.805301,10.135360,9.586858,10.047024,...,31204,9,walking,42.764637,48.777872,48.657503,42.652871,45.204278,15.671016,51.610431

### Reorder columns
Identifying columns to the back

In [39]:
#first drop duplicate columns
final_set = final_set.drop(columns=['id_gyr', 'Subject ID_gyr', 'Activity_gyr', 'id_mag', 'Subject ID_mag', 'Activity_mag',
                                   'index_gyr', 'index_mag'])

#rename identifying columns back to normal
final_set.rename(columns={'id_acc': 'id', 'Subject ID_acc': 'Subject ID', 'Activity_acc': 'Activity'}, inplace=True)

In [40]:
#reorder such that labels are at the back
final_set = final_set[[c for c in final_set if c not in ['Subject ID', 'Activity']] 
                      + ['Subject ID', 'Activity']]

In [41]:
final_set.head(1)

,index_acc,id,magnitude_chest_acc,magnitude_forearm_acc,magnitude_head_acc,magnitude_shin_acc,magnitude_thigh_acc,magnitude_upperarm_acc,magnitude_waist_acc,magnitude_chest_gyr,...,magnitude_waist_gyr,magnitude_chest_mag,magnitude_forearm_mag,magnitude_head_mag,magnitude_shin_mag,magnitude_thigh_mag,magnitude_upperarm_mag,magnitude_waist_mag,Subject ID,Activity
0,0,1,9.677577,9.851141,9.808246,10.060116,9.608746,10.188644,9.945071,0.061382,...,0.03878,51.233096,46.140829,49.391103,38.61178,43.591538,47.442423,54.303116,10,climbingdown

In [42]:
final_set.columns

Index(['index_acc', 'id', 'magnitude_chest_acc', 'magnitude_forearm_acc',
       'magnitude_head_acc', 'magnitude_shin_acc', 'magnitude_thigh_acc',
       'magnitude_upperarm_acc', 'magnitude_waist_acc', 'magnitude_chest_gyr',
       'magnitude_forearm_gyr', 'magnitude_head_gyr', 'magnitude_shin_gyr',
       'magnitude_thigh_gyr', 'magnitude_upperarm_gyr', 'magnitude_waist_gyr',
       'magnitude_chest_mag', 'magnitude_forearm_mag', 'magnitude_head_mag',
       'magnitude_shin_mag', 'magnitude_thigh_mag', 'magnitude_upperarm_mag',
       'magnitude_waist_mag', 'Subject ID', 'Activity'],
      dtype='object')

### Label encoder - Activity

- 0 = climbingdown
- 1 = climbingup
- 2 = jumping
- 3 = lying
- 4 = running
- 5 = sitting
- 6 = standing
- 7 = walking

In [145]:
from sklearn import preprocessing

#imablance before encode
bef_enc = Counter(final_set['Activity'])
        
#Encode Activity
le = preprocessing.LabelEncoder()
final_set['Activity'] = le.fit_transform(final_set.Activity.values)

In [146]:
#check imbalance
aft_enc = Counter(final_set['Activity'])

print(bef_enc)
print(aft_enc)

Counter({'running': 513768, 'walking': 482938, 'lying': 479423, 'sitting': 478761, 'standing': 473147, 'climbingup': 362705, 'climbingdown': 320066, 'jumping': 68259})
Counter({4: 513768, 7: 482938, 3: 479423, 5: 478761, 6: 473147, 1: 362705, 0: 320066, 2: 68259})

In [147]:
final_set.head(1)

,index_acc,id,magnitude_chest_acc,magnitude_forearm_acc,magnitude_head_acc,magnitude_shin_acc,magnitude_thigh_acc,magnitude_upperarm_acc,magnitude_waist_acc,magnitude_chest_gyr,...,magnitude_waist_gyr,magnitude_chest_mag,magnitude_forearm_mag,magnitude_head_mag,magnitude_shin_mag,magnitude_thigh_mag,magnitude_upperarm_mag,magnitude_waist_mag,Subject ID,Activity
0,0,1,9.677577,9.851141,9.808246,10.060116,9.608746,10.188644,9.945071,0.061382,...,0.03878,51.233096,46.140829,49.391103,38.61178,43.591538,47.442423,54.303116,10,0

### Create Final File and Save

In [148]:
final_set.to_csv("Merged_acc_gyr_mag.csv", index=True)